body {
    background-color: #123540;
}

h1,h2,h3,h4,h5,h6,p {
    color: azure;
}

.square {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    height: 100px;
    width: 200px;
    padding: 10px;
}

#square1 {
    background: #11C207;
}

#square2 {    
    background: #0B8704;
}